@font-face {
    font-family: 'brizeuxgras';
    src: url('../brizeux_gras-webfont.woff2') format('woff2'),
         url('../brizeux_gras-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brizeuxnormal';
    src: url('../fonts/brizeux_normal-webfont.woff2') format('woff2'),
         url('../fonts/brizeux_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brizeuxitalic';
    src: url('../brizeux_italic-webfont.woff2') format('woff2'),
         url('../brizeux_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    width: 100vw;
    min-height: 100vh; 
    background: linear-gradient(217deg, rgb(229 51 138 / 30%), rgba(255,0,0,0) 60.71%),
            linear-gradient(127deg, rgb(255 255 255 / 80%), rgba(0,255,0,0) 80.71%),
            linear-gradient(336deg, #6a5acd, rgba(0,0,255,0) 90.71%);
    color: white;
    text-align: center;
    font-family:'brizeuxnormal';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    
    font-size: x-large;
}

h2 {
    font-size: 24px;
}



header {
    background-color: #6a5acd;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #6a5acd;
    color: white;
    text-align: center;
    padding: 10px 20px 0px 20px;
}

footer a {
  
    font-size: small;
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    
    text-decoration: underline;
}

.horizontal-list {
    
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center; 
    gap: 30px;
}

.horizontal-list li {
    text-align: center;
    display: inline-block;
}

.horizontal-list a {
    
    text-decoration: none; 
    color: white;
    padding: 10px;
}

.image-item img {
  transition: transform 0.2s ease-in-out;
}

.image-item img:hover {
  transform: scale(1.25);
}

img:active {
  animation: growShrink 0.5s ease, flash 0.5s ease;
}

@keyframes growShrink {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* espace entre les images */
    padding: 10px;
    max-width: 800px;
}

.image-grid img {
    width: 90%;
    height: auto;
    object-fit: cover; /* ajuste l'image pour remplir le conteneur sans la déformer */
}


.image-item {
  text-align: center;
}

.caption {
  margin-top: 0px;
}

.caption h3 {
  margin: 5px 0;
  font-size: 1.2em;
  color: white;
}

.caption p {
  margin: 0;
  font-size: 1em;
  color: #3e3288;
}







